@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
	scroll-behavior: smooth;
}

.backgroundImage { 
background-position: bottom;
background-size: cover;
}


.psudeo::before { 
	content: "";
	background-color: #2E2D2E;
	opacity: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}

.Card {
	position: relative;
	width: 260px;
	height: 466px;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 100ms linear;
  }
  
  .Card::after,
  .Card::before {
	border-radius: 8px;
	content: "";
	position: absolute;
	top: 60px;
	left: -55%;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	width: 500%;
	height: 40px;
	background-image: linear-gradient(transparent, #dc960e, transparent);
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
  }
  
  .Card:hover::before {
	animation: spin 8s infinite linear;
	opacity: 1;
  }
  
  .Card:hover::after {
	animation: spin90 8s infinite linear;
	opacity: 1;
  }

  .Card:hover{
	transform: scale(1.04);
	  }
  
  .Content {
	position: absolute;
	inset: 3px;
	z-index: 2;
	color: white;
	background-color: #222222;
	display: grid;
	place-content: center;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(20deg);
	}
	to {
	  transform: rotate(380deg);
	}
  }
  @keyframes spin90 {
	from {
	  transform: rotate(110deg);
	}
	to {
	  transform: rotate(470deg);
	}
  }
  


.animate-slide-in-name {
	opacity: 0;
	animation: growth 400ms cubic-bezier(0.42, 0, 0.29, 1.57) 200ms forwards;
}
.animate-slide-in-title {
	opacity: 0;
	animation: animateIn 300ms cubic-bezier(0.42, 0, 0.29, 1.57) 500ms forwards;
}
.animate-slide-in-button {
	opacity: 0;
	animation: animateIn 300ms cubic-bezier(0.42, 0, 0.29, 1.57) 800ms forwards;
}

.animate-slide-in-arrow {
	opacity: 0;
	animation: animateIn 300ms cubic-bezier(0.42, 0, 0.29, 1.57) 1200ms forwards, bounce 1000ms infinite ;
}

@keyframes growth {
	from{
		opacity: 0;
		transform: scale(10%);
	}
	to {
		opacity: 1;
		transform: scale(100%);
	}
	
}

@keyframes animateIn {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bounce{
	0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

