@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
	scroll-behavior: smooth;
}

.backgroundImage { 
background-position: bottom;
background-size: cover;
}


.psudeo::before { 
	content: "";
	background-color: #2E2D2E;
	opacity: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}
